html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e0e15;
    font-family: Verdana, serif;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.body_container {
    height: 20%;
    display: flex;
    margin: 10px auto;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    position: relative;
    color: white;
    padding: 0;
    box-sizing: border-box;
    background-image: conic-gradient(#ff4525, #00ff99, #006aff, #ff0095, #ff4525);
}

.body_container:hover {
    padding:0.2%;
}

.first_layer {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-color: #1c1f2b;
    position: relative;
    font-size: 30px;
    box-sizing: border-box;
    justify-content: center;
}

.first_layer_element {
    display: flex;
    align-self: center;
}

.second_layer {
    height: 40%;
    width: 30%;
    display: flex;
    border-radius: 10px;
    background-color: #171a22;
    position: relative;
    font-size: 30px;
    box-sizing: border-box;
    justify-content: flex-start;
    margin: 40px auto;
    padding-left: 1.5%;
    padding-bottom: 1.5%;
}

.third_layer {
    height:100%;
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-color: #1c1f2b;
    position: relative;
    justify-content: center;
    translate: -10% -8%;
    transform: scale(1, 1);
    transition: 1.5s;
}

.second_layer:hover {
    .third_layer {
        transform: scale(1.5, 1.5);
        transition: 1.5s;
    }
}

.third_layer_element {
    display: flex;
    align-self: center;
    color: white;
}

canvas {
    height: 100%;
    width: 90%;
    position: absolute;
    display: flex;
    border: 2px solid red;
}





